body {
    background-color: #EDEFF0;
    width: 60em;
    margin: auto;
}

/* HEADER */
body > header {
    
}


/* NAV BAR */
#menu {
    background-color: white;


}

#menu ul {
    display: flex;

    flex-direction: row;
    align-items: stretch;
}

#menu ul > li {
    flex-grow: 1;
}

#related {
    grid-column: 1;
}

