body {
    font-family:  Verdana, Georgia, 'Times New Roman', Times, serif;
}

/* HEADER */
body > header {
    text-decoration: none;
    background-color: #046DD5;
}

/* Remove stubborn blue line */
body > header a {
    text-decoration: none;
    color: white;
}

body > header h1 {
    font-size: 22px;
    padding: 5px;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0px;
}

body > header h2 {
    font-size: 12px;
    padding: 5px;
    padding-left: 20px;
    margin: 0px;
    font-weight: bold;
}

#signup {
    font-weight: normal;
    font-size: 12px;
    padding: 5px;
    padding-left: 20px;
    margin: 0px;
}


#signup a + a::before {
    content: "|";
    margin: 10px;
}

/* Navbar */
#menu > ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
}

#menu > input {
    display: none;
}

#menu > ul li a {
    text-decoration: none;
    color: black;
}

#menu > ul li {
    padding: 15px;
    border-top-width: 5px;
    border-top-style: solid;
}

#menu > ul :nth-child(1) {
    border-top-color: red;
}

#menu > ul :nth-child(2) {
    border-top-color: green;
}

#menu > ul :nth-child(3) {
    border-top-color: purple;
}

#menu > ul :nth-child(4) {
    border-top-color: orange;
}

#menu > ul :nth-child(5) {
    border-top-color: lightskyblue;
}

#menu > ul :nth-child(6) {
    border-top-color: violet;
}

/* Related */
#related {
    padding: 15px;
    background-color: #2A2F33;
    color: white;
}

#related a {
    text-decoration: none;
    color: white;
}

#related p {
    color: rgb(184, 184, 184);
    font-size: 14px;
}

/* News */
#news img {
    position: relative;
    width: 100%;
}

#news article {
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#news article header {
    position: absolute;
    width: 15%;
    z-index: 1;
}

#news article header h1 {
    margin: 20px;
    font-family:  Verdana, 'Times New Roman', Times, serif;
    text-shadow: 4px 4px 5px black;
}

#news article header h1 a {
    text-decoration: none;
    color: white;
}

#news article p:first-of-type::first-letter {
    font-size: 200%;
}

#news article p {
    margin: 1em;
}

#news article footer {
    background-color: #E1493E;
    padding: 1em;
    color: white;
    font-family:  Verdana, 'Times New Roman', Times, serif;
}

.author::before {
    content: "By "
}

.tags {
    padding: 1em;
}

.tags a {
    color: white;
    text-decoration-color: white;
}

.date {
    padding: 1em;
}

.comments {
    padding: 1em;
    color: white;
    text-decoration-color: white;
}

.comments::after {
    content: " comments"
}
